* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(24, 24, 32);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    gap: 100px;

    height: 100vh;
    width: 100vw;
}

.animated-boxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.animated-boxes > div {
    position: relative;

    display: flex;

    justify-content: center;
    align-items: center;

    text-align: center;

    background-color: royalblue;

    width: 100px;
    height: 100px;
}

.box-destinations {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-destinations > div {
    box-sizing: border-box;

    display: flex;

    justify-content: center;
    align-items: center;

    border: 1px solid white;

    width: 100px;
    height: 100px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
    }
}

#box-1 {
    animation: slide 2s linear infinite;
}
#box-2 {
    animation: slide 2s ease infinite;
}
#box-3 {
    animation: slide 2s ease-in infinite;
}
#box-4 {
    animation: slide 2s ease-out infinite;
}
#box-5 {
    animation: slide 2s ease-in-out infinite;
}
#box-6 {
    animation: slide 2s cubic-bezier(0.5, 0.5, 0.4, 1.2) infinite;
}
#box-7 {
    animation: slide 2s steps(13) infinite;
}
#box-8 {
    animation: slide 2s cubic-bezier(1.000, 0, 0, 1.000) infinite;
}
